@page "/duties/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Dutie Create</h3>

<DutieForm @ref="dutieForm" Dutie="dutie" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Dutie dutie = new();
    private DutieForm dutieForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/duties", dutie);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }       
        Return();        


    }

    private async Task Toast()
    {


        var Toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000

            });

        await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Tarea creada con exito");
    }


    private void Return()
    {
        dutieForm.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/duties");

        Toast();


    }

}

