@* Create of budget *@
@page "/budgets/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Creacion De Presupuesto</h3>

@* The form is called and when the submit is valid the Create method is called and finally the Return method *@
<BudgetForm  Budget="budget" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Budget budget = new();

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/budgets", budget);

        if (responseHttp.Error)
        {
            //if any error its encountered the sweet alert whit the error message pop up
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            //if the create its succesfull the toast whit the sucessfull confirmation popup
            Return();

            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Presupuesto creado con exito");
        }
    }



    // Return method to navigate to home of budgets
    private void Return()
    {
        navigationManager.NavigateTo("/budgets");


    }

}
