@page "/EquipmentAssignments"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager





<h3><i class="bi bi-arrow-left-right" /> Asignacion de Maquinaria</h3>
<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/equipmentassignments/create"><i class="bi bi-plus-circle" /> Nueva Asignacion de Maquinaria</a>

        </span>
    </div>

    <div class="card-body">




        <GenericList MyList="EquipmentAssignments">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>ID Equipo de Construccion</b>
                            </td>
                            <td>
                                <b>ID Proyecto de Construccion</b>
                            </td>
                            <td>
                                <b>Acciones</b>
                            </td>
                        </tr>
                        @foreach (var equipmentassignment in EquipmentAssignments!)
                        {
                            <tr>
                                <td>
                                    @equipmentassignment.ConstructionTeamsId
                                </td>
                                <td>
                                    @equipmentassignment.ProjectConstructionsId
                                </td>

                                <td>
                                    <a href="/equipmentassignments/edit/@equipmentassignment.Id" class="btn btn-warning">Editar <i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(equipmentassignment))>Borrar <i class="bi bi-trash3"></i></button>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>



@code {

    public List<EquipmentAssignment> EquipmentAssignments { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }



    private async Task Charging()
    {
        var responseHTTP = await Repository.GetAsync<List<EquipmentAssignment>>("/api/EquipmentAssignments");
        EquipmentAssignments = responseHTTP.Response!;

    }


    private async Task Delete(EquipmentAssignment equipmentAssignment)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar la asignacion de maquinaria: {equipmentAssignment.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/EquipmentAssignments/{equipmentAssignment.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/EquipmentAssignments");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else

            await Charging();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                ShowConfirmButton = true,
                Timer = 3000,
                Position = SweetAlertPosition.BottomEnd
            });
        toast.FireAsync(icon: SweetAlertIcon.Success, message: "Asignacion de maquinaria borrada con éxito.");
    }
}



