@page "/"

<PageTitle>Home</PageTitle>

<h1><p style="text-align: center;">BIENVENIDO A CONSTRUCTORA CHANGUALITO</p></h1>


<style>
    div {
        text-align: center;
    }
</style>

<div>
    <img src="Images/constructora.jpg">
</div>
