@page "/materials/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Creacion de Material</h3>

<MaterialForm Material="material" OnValidSubmit="Create" ReturnAction="Return" />


@code {
    private Material material = new();
   
    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/Materials", material);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
{        Return();
        var Toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000

            });

        await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Material creado con exito");}


    }

    


    private void Return()
    {
        navigationManager.NavigateTo("/Materials");



    }

}