@page "/constructionteams/edit/{constructionteamId:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Equipo de Construccion</h3>

@if (constructionteam is null)
{
    <p>El Equipo de Construccion es Nulo</p>
}
else
{
    <ConstructionTeamForm  ConstructionTeam="constructionteam" OnValidSubmit="Editar" ReturnAction="Return" />
    
}

@code {
    [Parameter] 
    public int constructionteamId { get; set; }
    private ConstructionTeam constructionteam = new();
    private ConstructionTeamForm constructionteamForm;

    protected override async Task OnInitializedAsync()
    {

        var responseHTTP = await repository.GetAsync<ConstructionTeam>($"api/constructionteams/id:int?id={constructionteamId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("constructionteams");
                return;
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
            constructionteam = responseHTTP.Response;
        }
    }

    private async Task Editar()
    {
        var responseHTTP = await repository.PutAsync("api/constructionteams", constructionteam);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        navigationManager.NavigateTo("ConstructionTeams");
        Toast();

    }

    private async Task Toast()
    {


        var Toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000

            });

        await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Equipo de Construccion Modificado con exito");
    }

    private void Return()
    {

    }
}
