@page "/ProjectConstructions/edit/{ProjectConstructionId:int}"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Proyecto de Construccion</h3>

@if (projectConstruction is null)
{
    <p>El Proyecto de Construccion es Nulo</p>
}
else
{
    <ProjectConstructionForm ProjectConstruction="projectConstruction" OnValidSubmit="Editar" ReturnAction="Return" />
    
}

@code {
    [Parameter] 
    public int ProjectConstructionId { get; set; }
    private ProjectConstruction projectConstruction = new();

    protected override async Task OnInitializedAsync()
    {

        var responseHTTP = await repository.GetAsync<ProjectConstruction>($"api/ProjectConstructions/{ProjectConstructionId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("ProjectConstructions");
                return;
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
                return;
            }
        }
        else
        {
            projectConstruction = responseHTTP.Response;
        }
    }

    private async Task Editar()
    {

        var responseHTTP = await repository.PutAsync("api/ProjectConstructions", projectConstruction);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {

            Return();
            var Toast = sweetAlertService.Mixin(new SweetAlertOptions
                {

                    Toast = true,
                    Position = SweetAlertPosition.BottomEnd,
                    ShowConfirmButton = true,
                    Timer = 3000

                });

            await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Proyecto de Construccion Modificado con exito");
        }

    }

   

    private void Return()
    {
 
        navigationManager.NavigateTo("ProjectConstructions");
    }
}